
<style>

#contenedor{
        margin-left: 20%;
        margin-right: 10%;
        margin-top:20px ;
        /* border: 50px;
        border:2px #194bf0 solid;       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
    }
    body {
      overflow-x: hidden;
    }
     
    #wrapper.toggled {
      padding-left: 250px;
    }  
    
    #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
    }
    
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
      
    @media(min-width:768px) {
      #wrapper {
        padding-left: 0;
      }
      #wrapper.toggled {
        padding-left: 250px;
      }
      #sidebar-wrapper {
        width: 0;
      }
      #wrapper.toggled #sidebar-wrapper {
        width: 250px;
      }
      #page-content-wrapper {
        padding: 20px;
        position: relative;
      }
      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
      .content {
        
        margin: 20px auto 32px;
        padding: 0 10px;
        max-width: 900px;
        flex-direction: column;
        align-items: center;
        /*border:3px solid rgb(7, 32, 78);
        border-radius:30px;*/
      }
      /*.content button{
        background-color: red;
        position:relative;
        
      }*/
    }
    </style>
  <body>
    <div id="wrapper" class="toggled">  
      <div id="page-content-wrapper">
          <div class="container-fluid">
            <!--CONTENIDO-->
            <div id="contenedor">
            <h1>REGISTRO</h1>
            <div class="content">
            <form *ngIf="flag" class="col-8">

               <!-- <div [formGroup]="Miformulario"(submit)="onSubmit(Miformulario.value)"> -->
                <label for="rol" class="form-label">Rol</label>
                <!-- <div formArrayName="roles"> -->
             
              <select  id="rol" class="form-select" aria-label="Default select example" [(ngModel)]="roles" [ngModelOptions]="{standalone: true}">   
                <!-- *ngFor=" let item of getRoles.controls; let pointIndex=index" [formGroupName]="pointIndex"         -->
                <!-- -->
                <!-- *ngFor="let cuent of cuentas"  -->
                <option selected  [ngValue]="''" > -- Escoga la Opcion --</option>
                <!-- <div *ngFor=" let item of getRoles.controls; let pointIndex=index" [formGroupName]="pointIndex" > -->
                <option [ngValue]="r" *ngFor="let r of rol" >{{r.nombre}}</option>
                <!-- <option formControlName="nombre" id="rol" >"ROLE_VENDEDOR"</option> -->
                <!-- <option  [(ngModel)]="roles.nombre" name ="nombre" ngValue="ROLE_VENDEDOR">ROLE_VENDEDOR</option> -->
                <!-- ngValue="ROLE_ADMINISTRADOR" (click)='createRol("ROLE_ADMINISTRADOR")' -->
                <!-- <opti vaon ngValue="ROLE_VENDEDOR" [ngModel]="r.nombre" nombre="nombre">ROLE_VENDEDOR</option> -->
                <!-- ngValue="ROLE_VENDEDOR" (click)='createRol("ROLE_VENDEDOR")' -->
                <!-- *ngFor="let r of rol" [ngValue]="r" -->
                <!-- {{r.nombre}} -->
                <!-- </div> -->
              </select>
            <!-- </div> -->
           <!-- </div> -->
              <!-- </form> -->
              
              <br>
              <div class="mb-3">
                <label for="ci"  class="form-label">Cedula</label>
                <input type="text" class="form-control" id="ci" [(ngModel)]="cuenta.usuario.ci" name="ci">
                </div>    
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" [(ngModel)]="cuenta.usuario.nombres" name="nombre">
                  </div>   
                  <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellidos" [(ngModel)]="cuenta.usuario.apellidos" name="apellidos">
                    </div>         
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="cuenta.email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" [(ngModel)]="cuenta.usuario.telefono" name="telefono">
                    </div>
              <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="" class="form-control" id="contrasena" [(ngModel)]="cuenta.contrasena" name="contrasena" >
              </div>
              
              <select class="form-select" [(ngModel)]="estado" name="estado">
                <option  value="Habilitado">Habilitado</option>
                <option value="Desabilitado">Desabilitado</option>
              </select>
              
              
              <br>
              <button style="margin:10px ; background-color: rgb(20, 146, 219); border-color:rgb(20, 146, 219); " type="submit" class="btn btn-primary" (click)='create()' *ngIf="!cuenta.idCuenta else elseBlock">Guardar</button>
        
              <button style="margin:10px ; background-color: rgb(186, 18, 18); border-color:rgb(186, 18, 18);" type="reset" class="btn btn-primary" >Cancelar</button>
              <ng-template #elseBlock >
              <button style="margin:10px" class="btn btn-success" role="button"(click)='create()'>Actualizar</button> 
            </ng-template>
             
            </form>
          </div> 
        </div>                         
            <!--FINAL CONTENIDO-->
          </div>
      </div>
    </div>
  </body>
  <!--
  <style>
    body {
      overflow-x: hidden;
    }
     
    #wrapper.toggled {
      padding-left: 250px;
    }  
    
    #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
    }
    
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
      
    @media(min-width:768px) {
      #wrapper {
        padding-left: 0;
      }
      #wrapper.toggled {
        padding-left: 250px;
      }
      #sidebar-wrapper {
        width: 0;
      }
      #wrapper.toggled #sidebar-wrapper {
        width: 250px;
      }
      #page-content-wrapper {
        padding: 20px;
        position: relative;
      }
      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
    </style>
  <body>
    <div id="wrapper" class="toggled">  
      <div id="page-content-wrapper">
          <div class="container-fluid">
            ///CONTENIDO
            <h1>LOGO GEOMUNDO</h1>
            //FINAL CONTENIDO
          </div>
      </div>
    </div>
  </body>-->
