#contenedor {
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 20px;

    border: 2px #194bf0 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .opciones {
    display: flex;
    justify-content: space-between;


  }

  .roles {
    margin-top: 2%;
    margin-left: -3%;
    width: 230px;
    margin-right: -5%;
  }

  .habilitar {
    width: 230px;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: -8%;

  }

  .content {
    font-weight: bolder;
    color: black;

  }

  .content form {
    margin-left: 15%;
    margin-right: -5;

  }

  .ingresos {
    display: flex;
    justify-content: space-evenly;
  }

  .ingresos2 {
    display: flex;
    justify-content: space-evenly;
  }

  .ingresos3 {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar.navbar-light {
    background-color: #2d8fd4;


  }

  .navbar.navbar-light .navbar-brand {
    margin-left: 35%;
    /*NOTAS DE VENTA*/
    font-weight: bold;
  }

  .entradas {
    width: 75%;
    margin-top: -5%;

  }

  .columna1 {
    margin-right: 10%;
    margin-left: -5%;
    width: 230px;
  }

  .columna2 {
    margin-right: -45%;

    width: 230px;
  }