#contenedor{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:-5px ;
     border: 50px;
    border:2px #194bf0 solid;       
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

body {
overflow-x: hidden;
}

#wrapper.toggled {
padding-left: 250px;
}  

#page-content-wrapper {
width: 100%;
position: absolute;
padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: -250px;
}

@media(min-width:768px) {
#wrapper {
  padding-left: 0;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  width: 0;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  padding: 20px;
  position: relative;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}
}
.content {
  margin: 20px auto 32px;
  padding: 0 10px;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  /*border:3px solid rgb(7, 32, 78);
  border-radius:30px;*/
}
/*botone + -*/
.boton {
display:inline-block;
width:30px;
height:30px;
border-radius:100%; 
position:relative;
}

.boton.mas::before, .boton.menos::before {
content:"";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:40%;
height:0;
border-top:3px solid #0a74bb;/*linea horizontal botones*/
}

.boton.mas::after {
content:"";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:0;
height:40%;
border-left:3px solid #0a74bb;/*linea vertical  boton mas */
}
.boton.mas{
top: -10px;
left: 0%;
border:2px solid #6d6d6c;
}
.boton.menos.btn .btn-link{
top: -50px;
left: 102%;
}
.boton.menos{
left:102%;
top: -35px;
border:2px solid #6d6d6c;
background:#ffffff;/*fondo boton menos*/
}
.dropdown-menu{
padding: 10%;
width: 110%;
}
.navbar.navbar-light{
background-color: #2d8fd4;
}

.navbar.navbar-light .navbar-brand {
margin-left: 35%;/*NOTAS DE VENTA*/
font-weight: bold;   
}

.content form{
margin-left: 15%;
margin-right:-8;
}
.form-floating.mb-3{
font-weight: bold;
}