<style>
#contenedor{
        margin-left: 10%;
        margin-right: 10%;
        margin-top:-5px ;
         border: 50px;
        border:2px #194bf0 solid;       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
    }

  body {
    overflow-x: hidden;
  }
   
  #wrapper.toggled {
    padding-left: 250px;
  }  
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
    
  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
    .content {
      margin: 20px auto 32px;
      padding: 0 10px;
      max-width: 900px;
      flex-direction: column;
      align-items: center;
      /*border:3px solid rgb(7, 32, 78);
      border-radius:30px;*/
    }
    /*.content button{
      background-color: red;
      position:relative;
      <div class="boton menos"></div>///menos
    }*/
    /*botone + -*/
    .boton {
  display:inline-block;
  width:30px;
  height:30px;
  border-radius:100%; 
  position:relative;
}

.boton.mas::before, .boton.menos::before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:40%;
  height:0;
  border-top:3px solid #0a74bb;/*linea horizontal botones*/
}

.boton.mas::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:0;
  height:40%;
  border-left:3px solid #0a74bb;/*linea vertical  boton mas */
}
.boton.mas{
  top: -10px;
  left: 0%;
  border:2px solid #6d6d6c;
  }
.boton.menos.btn .btn-link{
  top: -50px;
  left: 102%;
  }
  .boton.menos{
    left:102%;
    top: -35px;
    border:2px solid #6d6d6c;
    background:#ffffff;/*fondo boton menos*/
  }
  .dropdown-menu{
    padding: 10%;
    width: 110%;
  }
  .navbar.navbar-light{
    background-color: #2d8fd4;
   }

.navbar.navbar-light .navbar-brand {
    margin-left: 35%;/*NOTAS DE VENTA*/
    font-weight: bold;   
}
  
.content form{
  margin-left: 15%;
  margin-right:-8;
}
.form-floating.mb-3{
  font-weight: bold;
}
  </style>
<body>
  <div id="wrapper" class="toggled">  
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <!--CONTENIDO-->
          <div id="contenedor">

            <nav class="navbar navbar-light ">
              <a  class="navbar-brand" >
                  REGISTRO DE LIBROS
              </a>             
          </nav>

          <div class="content"> 

            <ngx-spinner
              bdColor="rgba(51,51,51,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
            >
              <p style="font-size: 20px; color: white">Loading Imagen...</p>
            </ngx-spinner>
            <!-- (ngSubmit)="onUpload()" -->
          <form class="col-8"[formGroup]="Miformulario"(ngSubmit)="onSubmit(Miformulario.value)"  novalidate enctype="multipart/form-data"><!-- -->
            <div class="input-group">
              <input   type="file" class="form-control" id="imagen" aria-describedby="inputGroupFileAddon04" aria-label="Upload" #imagenInputFile
              (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
              <button  class="btn btn-outline-danger" [disabled]="!imagen" (click)="reset()"><i class="bi bi-arrow-clockwise"></i>Reset</button>
              <!-- <button class="btn btn-outline-secondary" type="button" id="Imagen">Button</button> -->
            </div>
            <div *ngIf="imagen" class="mt-5">
              <h5>Vista Previa:</h5>
              <div>
                <img class="image-thumbnail" style="max-width: 100px;" [src]="imagenMin" >
              </div>
            </div>
            
            
            <br>
            <div class="form-floating mb-3">                  
                  <input type="text" for="floatingInput" class="form-control" id="isbn" formControlName="isbn">
                  <label for="isbn" class="form-label">ISBN</label>
              </div>   

              <div class="form-floating mb-3">                      
                  <input type="text" class="form-control"  id="titulo" formControlName="titulo">
                  <label for="titulo" class="form-label">TITULO</label>
              </div>  

              <div class="form-floating mb-3">
                <input type="number" class="form-control"  id="stock" formControlName="stock">
                <label for="stock" class="form-label">STOCK</label>
              </div> 

              <div class="form-floating mb-3">              
                <input type="number" class="form-control"  id="precioUnitario" formControlName="precioUnitario" >
                <label for="precioUnitario" class="form-label">PRECIO UNITARIO</label>
              </div>
              

                <!--AUTOR-->
              <div class="mb-3">
                      <label for="autor" class="form-label">Autor(es)</label>
                    <div formArrayName="autores">
                        <div *ngFor="let item of getnombreautor.controls; let pointIndex=index" [formGroupName]="pointIndex">
                           <input formControlName="nombre" type="text" class="form-control" id="nombre"><a class=" boton menos btn btn-link" (click)="removeAutor(pointIndex)"></a>
                        </div>
                    </div>
                      <a class=" boton mas btn btn-link" (click)="addnombreAutor()"></a>
              </div> 
                  <!--FIN AUTOR-->

                  <!--GENERO-->                 
                  <div class="mb-3">
                    <label for="autor" class="form-label">Genero(s)</label>
                    <div formArrayName="generos">
                        <div *ngFor="let item of getGeneros.controls; let pointIndex=index" [formGroupName]="pointIndex">
                          <input formControlName="nombre" type="text" class="form-control" id="nombre"><a class=" boton menos btn btn-link" (click)="removeGenero(pointIndex)"></a>
                        </div>
                      </div>
                      <a class=" boton mas btn btn-link" (click)="addGenero()"></a>
                   </div> 
                  <!--FIN GENERO-->
                    <!--EDITORIAL-->
                    <div class="mb-3">
                      <label for="editorial" class="form-label">Editorial(es)</label>
                      <div formArrayName="editoriales">
                          <div *ngFor="let item of getEditorial.controls; let pointIndex=index" [formGroupName]="pointIndex">
                            <input formControlName="nombre" type="text" class="form-control" id="nombre"><a class=" boton menos btn btn-link" (click)="removeEditorial(pointIndex)"></a>
                          </div>
                        </div>
                        <a class=" boton mas btn btn-link" (click)="addEditorial()"></a>
                     </div> 
                    <!--FIN EDITORIAL-->
                <!-- Message input -->
                <div class="form-floating mb-3">                   
                  <textarea class="form-control"  id="descripcion" rows="4" formControlName="descripcion"></textarea>
                  <label class="form-label" for="descripcion">DESCRIPCIÓN</label>
                  </div> 
                       
            <!--<label for="exampleInputRol" class="form-label">Rol</label>
            <select class="form-select" aria-label="Default select example">           
              //<option selected>ROL</option>//
              <option value="1">Administrador</option>
              <option value="2">Vendedor</option>
            </select>-->
            <br>
            <button style="margin:10px ; background-color: rgb(20, 146, 219); border-color:rgb(20, 146, 219);  margin-top: -5%; margin-left: 30%; " type="submit" class="btn btn-primary" *ngIf="!libro.isbn else elseBlock">Guardar</button>
      
            <button style="margin:10px ; background-color: rgb(186, 18, 18); border-color:rgb(186, 18, 18);margin-top: -5%; margin-left: 3%;" type="reset" class="btn btn-primary" [routerLink]="['/lista']" >Cancelar</button>
           <ng-template  #elseBlock>
            <button style="margin-top: -5%; margin-left: 30%;" type="submit" class="btn btn-success" >Actualizar</button>
          </ng-template>
          </form>
        </div> 
      </div>          
          <!--FINAL CONTENIDO-->
        </div>
    </div>
  </div>
  
</body>