
<body>
  <div id="wrapper" class="toggled">  
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <!--CONTENIDO-->
          <div id="contenedor">

            <nav class="navbar navbar-light ">
              <a  class="navbar-brand" >
                  REGISTRO DE LIBROS
              </a>             
          </nav>

          <div class="content"> 

            <ngx-spinner
              bdColor="rgba(51,51,51,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
            >
              <p style="font-size: 20px; color: white">Loading Imágen...</p>
            </ngx-spinner>
            <!-- (ngSubmit)="onUpload()" -->
          <form class="col-8"[formGroup]="Miformulario"(ngSubmit)="onSubmit(Miformulario.value)"  novalidate enctype="multipart/form-data"><!-- -->
            <div class="input-group">
              <input  type="file" class="form-control" id="imagen" aria-describedby="inputGroupFileAddon04" aria-label="Upload" #imagenInputFile
              (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
              <button  class="btn btn-outline-danger" [disabled]="!imagen" (click)="reset()"><i class="bi bi-arrow-clockwise"></i>Reset</button>
              <!-- <button class="btn btn-outline-secondary" type="button" id="Imagen">Button</button> -->
            </div>
            <div *ngIf="imagen" class="mt-5" style="margin-left: 40%;">
              <h4  style="font-weight: bold ;">NUEVA PORTADA:</h4>
              <div>
                <img class="image-thumbnail" style="max-width: 100px;" [src]="imagenMin" >
              </div>
            </div>

            <div *ngIf="this.libro.imagen.id" class="mt-5" style="margin-left: 40%;">
              <h4 style="font-weight: bold ;">PORTADA ACTUAL:</h4>
              <div>
                <img  class="image-thumbnail" style="max-width: 100px;" src="{{this.libro.imagen.imagenUrl}}" >
              </div>
            </div>
                      
            <br>

            <div class="seccion1">
            <div class="form-floating mb-3">                  
                  <input type="text" for="floatingInput" class="form-control" id="isbn" formControlName="isbn" 
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="13">
                  <div class="alert alert-danger" *ngIf="isbn.invalid && isbn.touched">
                    ISBN Requerido
                  </div>
                  <label for="isbn" class="form-label">ISBN</label>
              </div>   

              <div class="form-floating mb-3">                      
                  <input  type="text" class="form-control"  id="titulo" formControlName="titulo" >
                  <div class="alert alert-danger" *ngIf="titulo.invalid && titulo.touched">
                    Titulo Requerido
                  </div>
                  <label for="titulo" class="form-label">TÍTULO</label>
              </div>  
            </div>

            <div class="seccion2">
              <div class="form-floating mb-3 " disabled style="min-width: 50px;max-width: 50%;">
                <input min="0" type="number" class="form-control"  id="stock" formControlName="stock"  >
                <div class="alert alert-danger" *ngIf="stock.invalid && stock.touched">
                  Stock Requerido
                </div>
                <label for="stock" class="form-label">STOCK ACTUAL</label>
              </div> 

              <div class="form-floating mb-3">              
                <input min="1" type="number" class="form-control"  id="precioUnitario" formControlName="precioUnitario" >
                <div class="alert alert-danger" *ngIf="precioUnitario.invalid && precioUnitario.touched">
                  Precio Unitario Requerido
                </div>
                <label for="precioUnitario" class="form-label">PRECIO UNITARIO ($)</label>
              </div>
            </div>

                <!--AUTOR-->
              <div class="mb-3">
                      <label for="autor" class="form-label">AUTOR(ES)</label>
                    <div formArrayName="autores">
                        <div *ngFor="let item of getnombreautor.controls; let pointIndex=index" [formGroupName]="pointIndex">
                          <input formControlName="nombre" type="text" class="form-control" id="nombre" [value]=" this.autorLibro"> <a class=" boton menos btn btn-link" (click)="removeAutor(pointIndex)"></a>
                        </div>                       
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="autor.invalid && autor.touched">
                      Autor Requerido
                    </div> -->
                      <a class=" boton mas btn btn-link" (click)="addnombreAutor()"></a>
              </div> 
                  <!--FIN AUTOR-->

                  <!--GENERO-->                 
                  <div class="mb-3">
                    <label for="autor" class="form-label">GÉNERO(S)</label>
                    <div formArrayName="generos">
                        <div *ngFor="let item of getGeneros.controls; let pointIndex=index" [formGroupName]="pointIndex">
                          <input formControlName="nombre" type="text" class="form-control" id="nombre"  [value]=" this.generoLibro" ><a class=" boton menos btn btn-link" (click)="removeGenero(pointIndex)"></a>
                        </div>
                       
                      </div>
                      <!-- <div class="alert alert-danger" *ngIf="genero.invalid && genero.touched">
                        Genero Requerido
                       </div> -->
                      <a class=" boton mas btn btn-link" (click)="addGenero()"></a>
                   </div> 
                  <!--FIN GENERO-->
                    <!--EDITORIAL-->
                    <div class="mb-3">
                      <label for="editorial" class="form-label">EDITORIAL(ES)</label>
                      <div formArrayName="editoriales">
                          <div *ngFor="let item of getEditorial.controls; let pointIndex=index" [formGroupName]="pointIndex">
                            <input formControlName="nombre" type="text" class="form-control" id="nombre"  [value]=" this.editorialLibro" ><a class=" boton menos btn btn-link" (click)="removeEditorial(pointIndex)"></a>
                          </div>
                          
                        </div>
                        <!-- <div class="alert alert-danger" *ngIf="editorial.invalid && editorial.touched">
                          Editorial Requerida
                        </div> -->
                        <a class=" boton mas btn btn-link" (click)="addEditorial()"></a>
                     </div> 
                    <!--FIN EDITORIAL-->
                <!-- Message input -->
                <div class="form-floating mb-3">                   
                  <textarea class="form-control"  id="descripcion" rows="4" formControlName="descripcion"></textarea>
                  <label class="form-label" for="descripcion">DESCRIPCIÓN</label>
                  </div> 
                       
            <br>
            <button style="margin:10px ; background-color: rgb(20, 146, 219); border-color:rgb(20, 146, 219);  margin-left: 30%; " type="submit" class="btn btn-primary" *ngIf="!libro.isbn else elseBlock" 
            [disabled]="!Miformulario.valid" >Guardar</button>
      
            <button style="margin:10px ; background-color: rgb(186, 18, 18); border-color:rgb(186, 18, 18); margin-left: 3%;" type="reset" class="btn btn-primary" [routerLink]="['/lista']" >Cancelar</button>
           <ng-template  #elseBlock>

            <div class="form-floating mb-3 " style="top: -685px;min-width: 50px;max-width: 50%; margin-left: 300px ;">
              <input min="0" type="number" class="form-control"  id="nuevostock" [(ngModel)]="nuevoS" [ngModelOptions]="{standalone: true}">
              <label for="nuevostock" class="form-label">NUEVO STOCK</label>
            </div> 

            <button style="margin-left: 30%;" type="submit" class="btn btn-success" >Actualizar</button>
          </ng-template>
          </form>
        </div> 
      </div>          
          <!--FINAL CONTENIDO-->
        </div>
    </div>
  </div>
  
</body>