
<div id="contenedor">
        <nav class="navbar navbar-light ">
          <a  class="navbar-brand" >
              USUARIOS
          </a>             
      </nav>
     
      <div class="filtrar">
            
        <input *ngIf="cuenta.opcion == '1'" type="search" class="form-control" placeholder="CÉDULA" aria-label="Search" maxlength="10"
          onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="ced" name="ced" />

        <input *ngIf="cuenta.opcion == '2'" type="search" class="form-control" placeholder="NOMBRE" aria-label="Search"
        onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
        [(ngModel)]="search" name="search" />

        <input *ngIf="cuenta.opcion == '3'" type="email" class="form-control" placeholder="CORREO" aria-label="Search"
        [(ngModel)]="correo" name="correo" />
        
        <!-- <button class="btn btn-outline-default" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
          <i class="bi bi-search"> Buscar</i>
        </button> -->

        <div class="form-floating" style="width: 50%; height: -10%;">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="cuenta.opcion" name="cuenta" >
   
          <option value="1">CÉDULA</option>
          <option value="2">NOMBRE</option>
          <option value="3">EMAIL</option>
        </select>
        <label for="floatingTextarea">BUSCAR POR:</label>
   </div>
      </div>

      

            <!--TABLA-->
            <div class="table-responsive">
              <table class="table" >
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cédula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Estado</th>
                  <th style="text-align: center;" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody  >              
                <tr  *ngFor="let cuent of cuentas  | busquedaUsurio:search | bUsuarioCed:ced | bUsuarioEmail:correo  | paginate: { itemsPerPage: 5, currentPage: page}" 
                [ngClass]="{'desabilitado': cuent.enabled == false}" >                 
                 
                
                  
                  <th scope="row">{{cuent.idCuenta}}</th>
                  <td >{{cuent.usuario.ci}}</td>
                  <td >{{cuent.usuario.nombres}}</td>
                  <td >{{cuent.usuario.apellidos}}</td>
                  <td >{{cuent.email}}</td>
                  <td >{{cuent.usuario.telefono}}</td>
                  <td *ngFor="let r of cuent.roles">{{r.nombre}}</td> 
                  <td>{{imprimirEstado(cuent.enabled)}}</td>
                  <td id="botones">
                    <div class="botonEditar">
                    <a (click)="cuentaService.habilitar=true" id="editar" class="btn btn-default" type="button" [routerLink]="['/registroUsuarios',cuent.idCuenta]"  >
                      <i class="bi bi-pencil-square"></i>
                      </a>
                  </div>
                  <div class="botonEliminar">
                    <a id="eliminar" class="btn btn-default" type="button" (click)="delete(cuent)">
                      <i class="bi bi-x-circle-fill"></i>
                    </a><!--(click)="delete(cuent)"-->
                  </div>               
                  </td>                            
                 </tr> 
              </tbody>             
            </table>
          </div><!--TABLA RESPONSIVE-->
          <!--FIN TABLA-->
            <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            ></pagination-controls>
            <!--FINAL CONTENIDO-->
</div>
