
<style>
   #contenedor{
        margin-left: 20%;
        margin-right: 10%;
        margin-top:20px ;
        border: 50px;
        border:2px #194bf0 solid;       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
.navbar.navbar-light{
    background-color: #2d8fd4;

}

.navbar.navbar-light .navbar-brand {
    margin-left: 10px;/*NOTAS DE VENTA*/
    font-weight: bold;
}
.btn.btn-info{
    margin-right: 10px;/*Boton nuevo*/
    font-weight: bold;
    color: black;
}
.input-group{
    margin: 10px;
    
}
.input-group button{
    left: 0;
    border-top-left-radius: 10px;
    font-weight: bold;
    background-color:darkblue ;
    color:white;
    margin-top: 0;
    height: 37px;
}
.table-responsive{
    margin: 10px;
}
thead tr{
    background-color: #2d8fd4;
    border: #194bf0 2px solid;
}
table th{
    text-align: center; /*titulos*/
}
table tr{     
  text-align: center; /*filas*/
}
table #botones{
  text-align: center;
}

.botonEditar a{     
     border: 2px burlywood solid;
     margin-left: 60px;
     margin-top: 0px;
           
   }
   .botonEliminar a{   
     border: 2px red solid;
     margin-right: 40px;
      margin-top: -66px;
}
a:hover{
  background-color: rgb(208, 207, 197);
 } 
 .filtrar{
    margin: 10px;
    display: flex;
    width: 50%;
 
} 
</style>
<div id="contenedor">
        <nav class="navbar navbar-light ">
          <a  class="navbar-brand" >
              USUARIOS
          </a>             
      </nav>
     
      <div class="filtrar">
            
        <input *ngIf="cuenta.opcion == '1'" type="search" class="form-control" placeholder="CEDULA" aria-label="Search" maxlength="10"
          onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="ced" name="ced" />

        <input *ngIf="cuenta.opcion == '2'" type="search" class="form-control" placeholder="NOMBRE" aria-label="Search"
        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"[(ngModel)]="search" name="search" />

        <input *ngIf="cuenta.opcion == '3'" type="email" class="form-control" placeholder="CORREO" aria-label="Search"
        [(ngModel)]="correo" name="correo" />
        
        <!-- <button class="btn btn-outline-default" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
          <i class="bi bi-search"> Buscar</i>
        </button> -->

        <div class="form-floating" style="width: 50%; height: -10%;">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="cuenta.opcion" name="cuenta" >
   
          <option value="1">CEDULA</option>
          <option value="2">NOMBRE</option>
          <option value="3">EMAIL</option>
        </select>
        <label for="floatingTextarea">BUSCAR POR:</label>
   </div>
      </div>

      

            <!--TABLA-->
            <div class="table-responsive">
              <table class="table" >
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Estado</th>
                  <th style="text-align: center;" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody  >              
                <tr  *ngFor="let cuent of cuentas  | paginate: { itemsPerPage: 5, currentPage: page} | busquedaUsurio:search | bUsuarioCed:ced | bUsuarioEmail:correo" 
                [ngClass]="{'desabilitado': cuent.enabled == false}" >                 
                 
                
                  
                  <th scope="row">{{cuent.idCuenta}}</th>
                  <td >{{cuent.usuario.ci}}</td>
                  <td >{{cuent.usuario.nombres}}</td>
                  <td >{{cuent.usuario.apellidos}}</td>
                  <td >{{cuent.email}}</td>
                  <td >{{cuent.usuario.telefono}}</td>
                  <td *ngFor="let r of cuent.roles">{{r.nombre}}</td> 
                  <td>{{imprimirEstado(cuent.enabled)}}</td>
                  <td id="botones">
                    <div class="botonEditar">
                    <a (click)="cuentaService.habilitar=true" id="editar" class="btn btn-default" type="button" [routerLink]="['/registroUsuarios',cuent.idCuenta]"  >
                      <i class="bi bi-pencil-square"></i>
                      </a>
                  </div>
                  <div class="botonEliminar">
                    <a id="eliminar" class="btn btn-default" type="button" (click)="delete(cuent)">
                      <i class="bi bi-x-circle-fill"></i>
                    </a><!--(click)="delete(cuent)"-->
                  </div>               
                  </td>                            
                 </tr> 
              </tbody>             
            </table>
          </div><!--TABLA RESPONSIVE-->
          <!--FIN TABLA-->
            <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            ></pagination-controls>
            <!--FINAL CONTENIDO-->
</div>
