<div class="contenedor">
    <div class="container-fluid">
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-start my-2"> 
            <div class="row container-fluid">    
                <div class="ps-2 m-0 w-100">
                    <h3 class="opciones">Opciones de Reporte</h3>
                </div>
            </div>
            <div class="row container-fluid">
                <select name="Opciones" id="opciones" class="form-select" aria-label="Default select example" [(ngModel)] = "opcionReporte">
                    <option value="1">Libros con Stock</option>
                    <option value="2">Libros sin Stock</option>
                    <option value="3">Stock de Libros Según Fecha</option>
                    <option value="4">Ventas Diarias Según Fecha</option>
                </select>
            </div>
            <div *ngIf="this.opcionReporte == 3 || this.opcionReporte == 4" class="row container-fluid m-2">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <label for="fecha" class="inputFecha"><h3 class="m-0">Desde: </h3></label>
                    <input type="date" id="fecha" name="fecha" class="ms-3"
                        value = "{{this.fechaActual}}"
                        [(ngModel)] = "fechaConsultaI"
                        min="2020-01-01" max="{{this.fechaActual}}"    
                    >
                    <label for="fecha" class="inputFecha"><h3 class="m-0 ms-5">Hasta: </h3></label>
                    <input type="date" id="fecha" name="fecha" class="ms-3"
                        value = "{{this.fechaActual}}"
                        [(ngModel)] = "fechaConsultaF"
                        min="2020-01-01" max="{{this.fechaActual}}"    
                    >
                </div>
            </div>
            <div class="row container-fluid">
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn generar" (click)="activarOpcion()">
                        GENERAR REPORTE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ================================================================= OPCION 1 ========================================================= -->


<div *ngIf="this.generarReporte && this.opcion1" class="contenedor">
    <div class="p-0 container-fluid">
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-start my-2"> 
            <div class="row container-fluid">    
                <div class="ps-2 m-0 col-6">
                    <h1 class="m-0">REPORTE LIBROS</h1>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="btn impresion" (click)="this.createPdfLibrosStock()">
                        <i class="bi bi-printer-fill" style="color:white"></i>
                        Imprimir
                    </button>
                </div>
            </div>       
            <div class="container-fluid info">
                <div class="row mt-3">
                    <h3><strong>Generado Por: </strong>{{this.cuenta.usuario.nombres}} {{this.cuenta.usuario.apellidos}}</h3>
                    <h3><strong>Fecha: </strong>{{this.fechaActual}}<strong class="ms-3"> Hora: </strong>{{this.horaActual}}</h3>
                    <h3 class="mb-0"><strong>Descripción: </strong>Reporte de Libros que contienen 1 o más existencias en stock</h3>                    
                </div>
                <hr>
                <table *ngIf="this.libros.length > 0; else vacioLibros" class="table caption-top table-hover">
                    <caption>Libros con Stock</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>                        
                        <th scope="col">Editorial</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio Unitario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let libro of libros; index as i">
                        <td>{{i+1}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.titulo}}</td>
                        <td>
                            <div *ngFor="let autor of libro.autores">
                                {{autor.nombre}}
                            </div>
                        </td>    
                        <td>
                            <div *ngFor="let editorial of libro.editoriales">
                               {{editorial.nombre}}
                            </div>
                        </td>
                        <td>{{libro.stock}}</td> 
                        <td>${{libro.precioUnitario.toFixed(2)}}</td>  
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #vacioLibros>
                    <h2>
                        NO EXISTEN DATOS DE LIBROS
                    </h2>
                  </ng-template>
                                 
            </div>
        </div>
    </div>
</div>


<!-- ================================================================= OPCION 2 ========================================================= -->


<div *ngIf="this.generarReporte && this.opcion2" class="contenedor">
    <div class="p-0 container-fluid">
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-start my-2"> 
            <div class="row container-fluid">    
                <div class="ps-2 m-0 col-6">
                    <h1 class="m-0">REPORTE LIBROS</h1>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="btn impresion" (click)="this.createPdfLibrosStockVacio()">
                        <i class="bi bi-printer-fill" style="color:white"></i>
                        Imprimir
                    </button>
                </div>
            </div>       
            <div class="container-fluid info">
                <div class="row mt-3">
                    <h3><strong>Generado Por: </strong>{{this.cuenta.usuario.nombres}} {{this.cuenta.usuario.apellidos}}</h3>
                    <h3><strong>Fecha: </strong>{{this.fechaActual}}<strong class="ms-3"> Hora: </strong>{{this.horaActual}}</h3>
                    <h3 class="mb-0"><strong>Descripción: </strong>Reporte de Libros que no contienen existencias en stock</h3>                    
                </div>
                <hr>
                <table *ngIf="this.librosVacio.length > 0; else vacioLibros2" class="table caption-top table-hover">
                    <caption>Libros con Stock</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>                        
                        <th scope="col">Editorial</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio Unitario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let libro of librosVacio; index as i">
                        <td>{{i+1}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.titulo}}</td>
                        <td>
                            <div *ngFor="let autor of libro.autores">
                                {{autor.nombre}}
                            </div>
                        </td>    
                        <td>
                            <div *ngFor="let editorial of libro.editoriales">
                               {{editorial.nombre}}
                            </div>
                        </td>
                        <td>{{libro.stock}}</td> 
                        <td>${{libro.precioUnitario.toFixed(2)}}</td>  
                      </tr>
                    </tbody>
                </table>
                <ng-template #vacioLibros2>
                    <h2>
                        NO EXISTEN DATOS DE LIBROS
                    </h2>
                </ng-template>                                 
            </div>
        </div>
    </div>
</div>


<!-- ================================================================= OPCION 3 ========================================================= -->


<div *ngIf="this.generarReporte && this.opcion3" class="contenedor">
    <div class="p-0 container-fluid">
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-start my-2"> 
            <div class="row container-fluid">    
                <div class="ps-2 m-0 col-6">
                    <h1 class="m-0">REPORTE LIBROS</h1>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="btn impresion" (click)="this.createPdfLibrosFecha()">
                        <i class="bi bi-printer-fill" style="color:white"></i>
                        Imprimir
                    </button>
                </div>
            </div>       
            <div class="container-fluid info">
                <div class="row mt-3">
                    <h3><strong>Generado Por: </strong>{{this.cuenta.usuario.nombres}} {{this.cuenta.usuario.apellidos}}</h3>
                    <h3><strong>Fecha: </strong>{{this.fechaActual}}<strong class="ms-3"> Hora: </strong>{{this.horaActual}}</h3>
                    <h3 class="mb-0"><strong>Descripción: </strong>Reporte de Libros registrados el {{this.fechaConsulta}}</h3>                    
                </div>
                <hr>
                <table *ngIf="this.librosFecha.length > 0; else vacioLibros3" class="table caption-top table-hover">
                    <caption>Libros con Stock</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>                        
                        <th scope="col">Editorial</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio Unitario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let libro of librosFecha; index as i">
                        <td>{{i+1}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.titulo}}</td>
                        <td>
                            <div *ngFor="let autor of libro.autores">
                                {{autor.nombre}}
                            </div>
                        </td>    
                        <td>
                            <div *ngFor="let editorial of libro.editoriales">
                               {{editorial.nombre}}
                            </div>
                        </td>
                        <td>{{libro.fechaStock}}</td>
                        <td>{{libro.stock}}</td> 
                        <td>${{libro.precioUnitario.toFixed(2)}}</td>  
                      </tr>
                    </tbody>
                </table>
                <ng-template #vacioLibros3>
                    <h2>
                        NO EXISTEN DATOS DE LIBROS
                    </h2>
                </ng-template>                                 
            </div>
        </div>
    </div>
</div>


<!-- ============================================================OPCION 4 ============================================================== -->
<div *ngIf="generarReporte && opcion4" class="contenedor">
    <div class="p-0 container-fluid">
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-start my-2"> 
            <div class="row container-fluid">    
                <div class="ps-2 m-0 col-6">
                    <h1 class="m-0">REPORTE</h1>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="btn impresion" (click)="this.createPdf()">
                        <i class="bi bi-printer-fill" style="color:white"></i>
                        Imprimir
                    </button>
                </div>
            </div>       
            <div class="container-fluid info">
                <div class="row mt-3">
                    <h3><strong>Generado Por: </strong>{{this.cuenta.usuario.nombres}} {{this.cuenta.usuario.apellidos}}</h3>
                    <h3><strong>Fecha: </strong>{{this.fechaActual}}<strong class="ms-3"> Hora: </strong>{{this.horaActual}}</h3>
                    <h3 class="mb-0"><strong>Descripción: </strong>Reporte de Ventas y Reservas del día {{this.fechaConsulta}}</h3>                    
                </div>
                <hr>
                <table *ngIf="this.notasventa.length > 0; else vacioVentas" class="table caption-top table-hover">
                    <caption>Notas de Venta</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID Nota Venta</th>
                        <th scope="col">Vendedor</th>
                        <th scope="col">Libros</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col">Ver Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let notaventa of notasventa; index as i">
                        <td>{{i+1}}</td>
                        <td>{{notaventa.idNotaventa}}</td>
                        <td>{{notaventa.cuenta.email}}</td>
                        <td>
                            <div *ngFor="let detalle of notaventa.detalles">
                                ({{detalle.cantidad}}){{detalle.libro.titulo}},
                            </div>
                        </td>                          
                            
                        <td><strong>${{notaventa.valorTotal.toFixed(2)}}</strong></td>
                        <td>
                            <button class="btn ver" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="this.indice = i">
                                <i class="bi bi-eye-fill"></i>
                            </button>                                 
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h2 class="modal-title" id="exampleModalLabel">Nota de Venta: {{notasventa[this.indice].idNotaventa}}</h2>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="container-fluid">
                                        <div class="row">
                                            <h3 class="titulo"><strong>DATOS-VENDEDOR</strong></h3>
                                            <p><strong>Nombre: </strong>{{notasventa[this.indice].cuenta.usuario.nombres}} {{notasventa[this.indice].cuenta.usuario.apellidos}}</p>
                                            <p><strong>Email: </strong>{{notasventa[this.indice].cuenta.email}}</p>
                                            <p><strong>Fecha: </strong>{{notasventa[this.indice].fechaRegistro}}</p>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <h3 class="titulo"><strong>PRODUCTOS</strong></h3> 
                                        </div>
                                        <div *ngFor="let detalle of notasventa[this.indice].detalles">
                                            <div class="row mb-2" >
                                                <div class="col-4">
                                                    <img src="{{detalle.libro.imagen.imagenUrl}}" alt="portada" class="img-thumbnail">
                                                </div>
                                                <div class="col-auto justify-content-center">
                                                    <p><strong>{{detalle.libro.titulo}}</strong></p>
                                                    <p><strong>Autor: </strong>{{detalle.libro.autores[0].nombre}}</p>
                                                    <p><strong>Cantidad: </strong>{{detalle.cantidad}}</p>
                                                    <p><strong>Precio Unitario: </strong>${{detalle.libro.precioUnitario.toFixed(2)}}</p>
                                                    <p><strong>Subtotal: </strong>${{(detalle.cantidad*detalle.libro.precioUnitario).toFixed(2)}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                        <div class="row">
                                            <h3 class="titulo m-0"><strong>TOTAL: $</strong>{{notasventa[this.indice].valorTotal.toFixed(2)}}</h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer d-flex flex-column align-items-center">
                                      <button type="button" class="btn modalDetalle"data-bs-dismiss="modal">Aceptar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>                         
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>TOTAL DE VENTAS DIARIO: </strong></td>
                            <td><strong>${{this.totalVentasDiario.toFixed(2)}}</strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                  </table>
<!-- ----------------------------------------------------------------------------------------------- RESERVAS---------------------------- -->
                  <table *ngIf="this.reservas.length > 0; else vacioReservas" class="table caption-top table-hover">
                    <caption>Reservas</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID Reserva</th>
                        <th scope="col">Vendedor</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Libros</th>
                        <th scope="col">Abono</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col">Ver Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reserva of reservas; index as i">
                        <td>{{i+1}}</td>
                        <td>{{reserva.idReserva}}</td>
                        <td>{{reserva.cuenta.email}}</td>
                        <td>{{reserva.usuario.ci}}</td>
                        <td>
                            <div *ngFor="let detalle of reserva.detalleReservas">
                                ({{detalle.cantidad}}){{detalle.libro.titulo}},
                            </div>
                        </td>  
                        <td><strong>${{reserva.abono.toFixed(2)}}</strong></td>
                        <td>${{reserva.saldo.toFixed(2)}}</td>
                        <td>${{reserva.valorTotal.toFixed(2)}}</td>
                        <td>
                            <button class="btn ver" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalReservas" (click)="this.indice = i">
                                <i class="bi bi-eye-fill"></i>
                            </button>                                 
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalReservas" tabindex="-1" aria-labelledby="exampleModalReservasLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h2 class="modal-title" id="exampleModalReservasLabel">Reserva: {{reservas[this.indice].idReserva}}</h2>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="container-fluid">
                                        <div class="row">
                                            <h3 class="titulo"><strong>DATOS DE VENDEDOR</strong></h3>
                                            <p><strong>Nombre: </strong>{{reservas[this.indice].cuenta.usuario.nombres}} {{reservas[this.indice].cuenta.usuario.apellidos}}</p>
                                            <p><strong>Email: </strong>{{reservas[this.indice].cuenta.email}}</p>
                                            <p><strong>Fecha Registro: </strong>{{reservas[this.indice].fechaCreacion}}</p>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <h3 class="titulo"><strong>DATOS DE CLIENTE</strong></h3>
                                            <p><strong>Cédula: </strong>{{reservas[this.indice].usuario.ci}}</p>
                                            <p><strong>Nombre: </strong>{{reservas[this.indice].usuario.nombres}} {{reservas[this.indice].usuario.apellidos}}</p>                                            
                                            <p><strong>Telefono: </strong>{{reservas[this.indice].usuario.telefono}}</p>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <h3 class="titulo"><strong>DATOS DE PAGO</strong></h3>
                                            <p><strong>Fecha Abono: </strong>{{reservas[this.indice].fechaAbono}}</p>
                                            <p><strong>Abono Actual: </strong> ${{reservas[this.indice].abono.toFixed(2)}} <strong class="ms-3">Saldo Actual: </strong> ${{reservas[this.indice].saldo.toFixed(2)}}</p>                                            
                                            <p></p>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <h3 class="titulo"><strong>PRODUCTOS</strong></h3> 
                                        </div>
                                        <div *ngFor="let detalle of reservas[this.indice].detalleReservas">
                                            <div class="row mb-2" >
                                                <div class="col-4">
                                                    <img src="{{detalle.libro.imagen.imagenUrl}}" alt="portada" class="img-thumbnail">
                                                </div>
                                                <div class="col-auto justify-content-center">
                                                    <p><strong>{{detalle.libro.titulo}}</strong></p>
                                                    <p><strong>Autor: </strong>{{detalle.libro.autores[0].nombre}}</p>
                                                    <p><strong>Cantidad: </strong>{{detalle.cantidad}}</p>
                                                    <p><strong>Precio Unitario: </strong>${{detalle.libro.precioUnitario.toFixed(2)}}</p>
                                                    <p><strong>Subtotal: </strong>${{(detalle.cantidad*detalle.libro.precioUnitario).toFixed(2)}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                        <div class="row">
                                            <h3 class="titulo m-0"><strong>TOTAL: </strong>${{reservas[this.indice].valorTotal.toFixed(2)}}</h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer d-flex flex-column align-items-center">
                                      <button type="button" class="btn modalDetalle"data-bs-dismiss="modal">Aceptar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>                         
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>TOTAL DE ABONOS DIARIO: </strong></td>
                            <td><strong>${{this.totalAbonosDiario.toFixed(2)}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                  </table> 
                  <ng-template #vacioVentas>
                    <h2>
                        NO EXISTEN DATOS DE VENTAS
                    </h2>
                  </ng-template>
                  <ng-template #vacioReservas>
                    <h2>
                        NO EXISTEN DATOS DE RESERVAS
                    </h2>
                  </ng-template>
                                 
            </div>
            <div class="row ms-1 mt-2 mb-0 p-0">
                    <h1 class="m-0">TOTAL DE INGRESOS DIARIO: ${{this.totalDiario.toFixed(2)}}</h1>
                </div>
        </div>
    </div>

</div>