#contenedor{
    margin-left: 20%;
    margin-right: 10%;
    margin-top:20px ;
    border: 50px;
    border:2px #194bf0 solid;       
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar.navbar-light{
background-color: #2d8fd4;

}

.navbar.navbar-light .navbar-brand {
margin-left: 10px;/*NOTAS DE VENTA*/
font-weight: bold;
}
.btn.btn-info{
margin-right: 10px;/*Boton nuevo*/
font-weight: bold;
color: black;
}
.filtrar{
margin: 10px;
display: flex;
width: 50%;

}


.table-responsive{
margin: 10px;

}
thead tr{
background-color: #2d8fd4;
border: #194bf0 2px solid;
}
table th{
text-align: center; /*titulos*/
}
table tr{     
text-align: center; /*filas*/
}
table #botones{
text-align: center;
}

.botonEditar a{     
 border: 2px burlywood solid;
 margin-left: 60px;
 margin-top: 0px;
       
}
.botonEliminar a{   
 border: 2px red solid;
 margin-right: 40px;
  margin-top: -66px;
}
a:hover{
background-color: rgb(208, 207, 197);
}