
  <div id="contenedor">
          <nav class="navbar navbar-light ">
            <a  class="navbar-brand" >
                LIBROS
            </a>             
        </nav>
          
        <div class="filtrar">
            
            <input *ngIf="libro.opcion == '1'" type="search" class="form-control" placeholder="ISBN" aria-label="Search" maxlength="13"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="isbn" name="isbn" />

            <input *ngIf="libro.opcion == '2'" type="search" class="form-control" placeholder="TÍTULOS" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="search" name="search" />

            <input *ngIf="libro.opcion == '3'" type="search" class="form-control" placeholder="AUTOR" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="nombreA" name="nombreA" />

            <input *ngIf="libro.opcion == '4'" type="search" class="form-control" placeholder="GENERO" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="genero" name="genero" />

            <input *ngIf="libro.opcion == '5'" type="search" class="form-control" placeholder="EDITORIAL" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="editorial" name="editorial" />
            

            <div class="form-floating" style="width: 50%; height: -10%;">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="libro.opcion" name="libros" >
       
              <option value="1">ISBN</option>
              <option value="2">TÍTULOS</option>
              <option value="3">AUTOR</option>
              <option value="4">GÉNERO</option>
              <option value="5">EDITORIAL</option>
            </select>
            <label for="floatingTextarea">BUSCAR POR:</label>
       </div>
          </div>
       
            <!--TABLA-->
            <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Imágen</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Título</th>
                  <th scope="col">Autor</th>                
                  <th scope="col">Stock</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Género</th>
                  <th scope="col">Editorial</th>
                  <th style="text-align: center;" scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>               
                <tr *ngFor="let lib of libros | libroISBN:isbn | busqueda:search | bLibroAutor:nombreA | bLibroGenero:genero | bLibroEditorial:editorial | paginate: { itemsPerPage: 5, currentPage: page};let i=index ">
                  <!-- <th scope="row">{{i+1}}</th> -->
                  <!-- | paginate: { itemsPerPage: 5, currentPage: page} -->
                  <td style="width: 64px;"><img  src="{{lib.imagen.imagenUrl}}"  class="img-thumbnail rounded"></td>
                  <td>{{lib.isbn}}</td>
                  <td>{{lib.titulo}}</td>
                  <td >
                    <div *ngFor="let au of lib.autores">
                      {{au.nombre}}
                    </div>
                  </td>                
                  <td>{{lib.stock}}</td>
                  <td>${{lib.precioUnitario.toFixed(2)}}</td>
                  <td>
                     <div *ngFor="let ge of lib.generos">
                      {{ge.nombre}}
                     </div>
                  </td>    
                  <td >
                    <div *ngFor="let ed of lib.editoriales">
                      {{ed.nombre}}
                    </div>
                   </td>                     
                  <td id="botones">
                    <div class="botonEditar">
                    <a (click)="libroService.habilitar=!libroService.habilitar" class="btn btn-default" type="button" [routerLink]="['/formulario',lib.isbn]" >
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  </div>
                  <div class="botonEliminar">
                    <a class="btn btn-default" type="button" (click)="delete(lib)" >
                      <i class="bi bi-trash-fill"></i>
                    </a>
                  </div>                
                  </td>
                 </tr>
                 <!-- <tr>
                  <td>
                    <button class="btn btn-default" (click)="prevPage()">  <i class="bi bi-arrow-left-circle-fill"></i> </button>
                  </td>
                  <td>
                  &nbsp;
                  <button class="btn btn-default" (click)="nextPage()"   > <i class="bi bi-arrow-right-circle-fill"></i> </button>
                </td>
                 </tr> -->
                 
                    
                 <!-- <div class="alert alert-danger" *ngIf="libros.length==0">
                    holii
                 </div> -->
              </tbody>    
                    
            </table>
            <ng-container  *ngIf="( libros | libroISBN:isbn | busqueda:search | bLibroAutor:nombreA | bLibroGenero:genero | bLibroEditorial:editorial) as result">
              <div style="text-align: center;" class="alert alert-danger" *ngIf="result.length === 0">
                NO SE ENCONTRARON RESULTADOS</div>
             </ng-container>    
            </div><!--TABLA RESPONSIVE-->
            <!--FIN TABLA-->
            <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente "
            ></pagination-controls>
            <!--FINAL CONTENIDO-->
       
</div>
 