
<app-detalle-reserva *ngIf="reservaSeleccionada" [reserva]="reservaSeleccionada" style="display:block"></app-detalle-reserva>
<div id="contenedor">
            <!--CONTENIDO-->          
          <nav class="navbar navbar-light ">
              <a  class="navbar-brand" href="#">
                   RESERVACIONES
              </a>             
              <a class="btn btn-info" [routerLink]="['/nueva_reserva']"> 
                <i class="bi bi-plus-circle-fill"></i>
                Nuevo</a>
          </nav>
          <div class="filtrar">
            
            <input *ngIf="opcion == '1'" type="search" class="form-control" placeholder="ID DE RESERVA" aria-label="Search"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="idR" name="idR" />

            <input *ngIf="opcion == '2'" type="search" class="form-control" placeholder="CLIENTE" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="search" name="search" />

            <input *ngIf="opcion == '3'" type="search" class="form-control" placeholder="VENDEDOR" aria-label="Search"
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            [(ngModel)]="vendedor" name="vendedor" />
            
            <input *ngIf="opcion == '4'" type="date" id="start"  class="form-control"  [(ngModel)]="fecha" name="fecha"
              value="2022-07-22"
              min="2022-01-01" max="2030-12-31">

            <div class="form-floating" style="width: 50%; height: -10%;">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="opcion" name="libros" >
       
              <option value="1">ID DE RESERVA</option>
              <option value="2">CLIENTE</option>
              <option value="3">VENDEDOR</option>
              <option value="4">FECHA</option>
            </select>
            <label for="floatingTextarea">BUSCAR POR:</label>
       </div>
          </div>

          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Vendedor</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Abono</th>
                      <th scope="col">Saldo</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let r of reservas | bReservaNombre:search | bReservaID:idR | bReservaVendedor:vendedor | bReservaFecha:fecha | paginate: { itemsPerPage: 5, currentPage: page } " >
                      <th scope="row">{{r.idReserva}}</th>
                      <td>{{r.fechaCreacion}}</td>
                      <td>{{r.cuenta.usuario.nombres}} {{r.cuenta.usuario.apellidos}}</td>
                      <td>{{r.usuario.nombres}} {{r.usuario.apellidos}}</td>
                      <td>${{r.abono.toFixed(2)}}</td>
                      <td>${{r.saldo.toFixed(2)}}</td>
                      <td id="botones">
                        <!-- <div class="botonEliminar">
                            <a class="btn btn-default" type="button">
                              <i class="bi bi-trash-fill"></i>
                            </a>
                          </div> -->
                          <div class="botonAumentar">
                            <a class="btn btn-default" type="button"  (click)="openSM(r)">
                              <i class="bi bi-journal-bookmark-fill" ></i>
                            </a>
                          </div>
                      </td>
                    </tr>
                  </tbody>
            </table>
            <ng-container  *ngIf="( reservas | bReservaNombre:search | bReservaID:idR | bReservaVendedor:vendedor | bReservaFecha:fecha ) as result">
              <div style="text-align: center;" class="alert alert-danger" *ngIf="result.length === 0">
                NO SE ENCONTRARON RESULTADOS</div>
             </ng-container>  
          </div>
          <pagination-controls 
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          ></pagination-controls>     
</div>


