
<app-detalle-nota-v *ngIf="notaSeleccionada" [NotaV]="notaSeleccionada" style="display:block"></app-detalle-nota-v>
<div id="contenedor">
            <!--CONTENIDO-->          
          <nav class="navbar navbar-light ">
              <a  class="navbar-brand" href="#">
                   NOTAS DE VENTA
              </a>             
              <a class="btn btn-info" [routerLink]="['/nueva_nota_de_venta']"> 
                <i class="bi bi-plus-circle-fill"></i>
                Nuevo</a>
          </nav>
         
             <div class="filtrar">
            
        <input *ngIf="nota.opcion == '1'" type="search" class="form-control" placeholder=" # NOTA DE VENTA" aria-label="Search"
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="search" name="search" /> 

        <input *ngIf="nota.opcion == '2'" type="search" class="form-control" placeholder="VENDEDOR" aria-label="Search"
        onkeypress="return (event.charCode == 209 || event.charCode == 241 || event.charCode == 32 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
        [(ngModel)]="vendedor" name="vendedor" />

        <input *ngIf="nota.opcion == '3'" type="date" id="start"  class="form-control"  [(ngModel)]="fecha" name="fecha"
       value="2022-07-22"
       min="2022-01-01" max="2030-12-31">

        <div class="form-floating" style="width: 50%; height: -10%;">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="nota.opcion" name="cuenta" >
   
          <option value="1"># NOTA DE VENTA</option>
          <option value="2">VENDEDOR</option>
          <option value="3">FECHA</option>
        </select>
        <label for="floatingTextarea">BUSCAR POR:</label>
   </div>
      </div>


          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Vendedor</th>
                      <th scope="col">Total</th>
                      <th scope="col">Ver</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let not of venta  | bNotasVenta:search | bVentaVendedor:vendedor | bVentaFecha:fecha | paginate: { itemsPerPage: 5, currentPage: page }">
                      <th scope="row">{{not.idNotaventa}}</th>
                      <td>{{not.fechaRegistro}}</td>
                      <td>{{not.cuenta.usuario.nombres}} {{not.cuenta.usuario.apellidos}}</td>
                      <td>${{not.valorTotal.toFixed(2)}}</td>
                      <td id="botones">
                        <div class="botonEditar">
                            <a class="btn btn-default" type="button" (click)="openSM(not)">
                              <i class="bi bi-eye-fill"></i>
                            </a>
                          </div>
                      </td>
                    </tr>
                  </tbody>
            </table>
          </div>      
          <pagination-controls 
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          ></pagination-controls>        
</div>




 


