
<style>
    #contenedor{
        margin-left: 20%;
        margin-right: 10%;
        margin-top:20px ;
        border: 50px;
        border:2px #194bf0 solid;       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
.navbar.navbar-light{
    background-color: #2d8fd4;

}

.navbar.navbar-light .navbar-brand {
    margin-left: 10px;/*NOTAS DE VENTA*/
    font-weight: bold;
}
.btn.btn-info{
    margin-right: 10px;/*Boton nuevo*/
    font-weight: bold;
    color: black;
}
.input-group{
    margin: 10px;
    
}
.input-group button{
    left: 0;
    border-top-left-radius: 10px;
    font-weight: bold;
    background-color:darkblue ;
    color:white;
    margin-top: 0;
    height: 37px;
}
.table-responsive{
    margin: 10px;
}
thead tr{
    background-color: #2d8fd4;
    border: #194bf0 2px solid;
}
table th{
    text-align: center; /*titulos*/
}
table tr{     
  text-align: center; /*filas*/
}
table #botones{
  text-align: center;
}

.botonEditar a{     
     border: 2px burlywood solid;
     margin-left: 10px;
     margin-top: 0px;
           
   }
a:hover{
  background-color: rgb(208, 207, 197);
 }
 /***/
 .oscuro .modal-content {
    background-color: #021f2e;
    color: white;
  }
  .oscuro .close {
    color: white;
  }

.azul {
    background-color: #0fa1eb;
  }

.card-header{
  font-weight: bolder;
}

</style>
<app-detalle-nota-v *ngIf="notaSeleccionada" [NotaV]="notaSeleccionada" style="display:block"></app-detalle-nota-v>
<div id="contenedor">
            <!--CONTENIDO-->          
          <nav class="navbar navbar-light ">
              <a  class="navbar-brand" href="#">
                   NOTAS DE VENTA
              </a>             
              <a class="btn btn-info" [routerLink]="['/nueva_nota_de_venta']"> 
                <i class="bi bi-plus-circle-fill"></i>
                Nuevo</a>
          </nav>
          <form class="input-group" style="width: 400px">
            <input type="search" class="form-control" placeholder="# De Nota De Venta" aria-label="Search" />
            <button class="btn btn-outline-default" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
              <i class="bi bi-search"> Buscar</i>
            </button>
          </form>

          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Vendedor</th>
                      <th scope="col">Total</th>
                      <th scope="col">Ver</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let not of venta | paginate: { itemsPerPage: 5, currentPage: page }">
                      <th scope="row">{{not.idNotaventa}}</th>
                      <td>{{not.fechaRegistro}}</td>
                      <td>{{not.cuenta.usuario.nombres}} {{not.cuenta.usuario.apellidos}}</td>
                      <td>{{not.valorTotal.toFixed(2)}}</td>
                      <td id="botones">
                        <div class="botonEditar">
                            <a class="btn btn-default" type="button" (click)="openSM(not)">
                              <i class="bi bi-eye-fill"></i>
                            </a>
                          </div>
                      </td>
                    </tr>
                  </tbody>
            </table>
          </div>      
          <pagination-controls 
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          ></pagination-controls>        
</div>




 


