	<form class="custom-form" method="post"  > <!--(ngSubmit)="onSubmit(signInform)" #signInform="ngForm" -->
	  <h1>Login</h1>
	  <input [(ngModel)]="cuenta.email"
		type="email"placeholder="Email" id="inputLogin" class="form-control" name="login" ngModel required autofocus/>
	  <input [(ngModel)]="cuenta.contrasena"
		type="password"	placeholder="Password" id="inputPassword" class="form-control" name="password" autocomplete="on" ngModel required />
	  <button class="btn btn-lg btn-primary btn-block"  type="submit" (click)="login()">Log in</button>
    <div  class="alert alert-danger" role="alert" *ngIf="isFormValid">
        Por favor llenar todos los espacios
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
      Email o Contraseña Incorrectoqss
  </div>
  </form>

