<style>
#contenedor{
        margin-left: 25%;
        margin-right: 4%;
        margin-top:20px ;
        border: 50px;
        border:2px #194bf0 solid;       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
.navbar.navbar-light{
    background-color: #2d8fd4;
}


.navbar.navbar-light .navbar-brand {
    margin-left: 10px;/*NOTAS DE VENTA*/
    font-weight: bold;
}

.row.g-3{
    margin: 1%;
    margin-top: 0%;
    font-weight: bold;
}
.fecha{
    margin: 1%;
    font-weight: bold;
    color: black;
    margin-right: 5%;
}

.entrada {

display: flex;
justify-content: space-evenly;
margin-top: -4%;
margin-right: 10%;
margin-left: 2%;

}

.entrada #fecha{
display: flex;
font-weight: bold;
margin-left: 10%;

}

.entrada #fecha label{
margin-right: 5%;
margin-left: -40%;
}

.entrada #fecha input{
height: 100%;
width: 80%;
}

.table-responsive{
    margin: 10px;
} 

a:hover{
  background-color: rgb(208, 207, 197);
 }

 .botones a{
  margin-left: 70%;
  margin-top: 1%;
  color: #1f2a4f;
  border:#1f2a4f 2px solid;
  font-weight: bold;
  max-height: -10%;
  max-width: 120%;
  margin-right: 10%;

}
.botones a:hover{
  background-color: rgb(134, 183, 222);
}
.entrada.botones{
justify-content: space-evenly;
}
.table{
  text-align: center;
}
.text-end{
  text-align:right ;
  padding: .5rem 7rem;
  font-weight: bold;
}
.table input{
  width: 20%;
  margin-left: 40%;
  padding-left: 0 ;
  padding-right: 0;
}

.table-responsive #guardar{
 margin-left: 90%;
}
</style>
<div id="contenedor">
    <!--CONTENIDO-->
    <nav class="navbar navbar-light ">
        <a  class="navbar-brand" >
            <i class="bi bi-journal-bookmark-fill"></i>
             RESERVAS
        </a>  
    </nav>

    <div class="botones">
        <a class="btn btn-outline-danger" (click)="openSM(contenido)"> 
          <i class="bi bi-search"></i>
          Agregar Producto
        </a>
      </div>
      
    <div class="entrada">
        <div id="fecha">
        <label for="usuario"  class="form-label">VENDEDOR</label>
       <!-- <div formArrayName="detalle">-->
        <select name="usuario">
          <option >--Seleccionar un Vendedor</option>
          <option >usuario.nombres</option>
        </select>
      <!--</div>-->
        </div> 
    </div>

    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">NOMBRE</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">APELLIDO</label>
          <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">CÉDULA</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">TELÉFONO</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">ABONO</label>
            <input type="number" class="form-control" id="inputPassword4">
          </div>
    </form>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">CODIGO</th>
              <th scope="col">ISBN</th>
              <th scope="col">CANT.</th>
              <th scope="col">LIBRO</th>
              <th scope="col">PRECIO UNIT.</th>
              <th scope="col">SUBTOTAL</th>
              <th scope="col"></th>
            </tr>
          </thead>
         
          <tbody>
            
            <tr  *ngFor="let p of librosSeleccionados;let i=index">
              
              <th >{{i+1}}</th><!---->
            
             
              <th >{{p.isbn}}</th>
            
            
              <td  >{{p.canti}}</td>
            
              <td>{{p.titulo}}</td>
              <td>{{p.precioUnitario}}</td>
             
              <td id="subtotal" >{{p.canti*p.precioUnitario}}</td><!--{{cant*p.precioUnitario}}-->
            
              <td>
                <a class="btn btn-danger" (click)="eliminar(i)">
                <i class="bi bi-trash-fill"></i>
              </a>
              </td>
            </tr>
      
            <tr>
              <td colspan="5" class="text-end">TOTAL $</td>
              <td>{{total|currency}}</td>
            </tr>
            </tbody>
        </table>
        <a id="guardar" class="btn btn-info" type="submit">
          Reservar
        </a>
      </div>
</div> <!--FIN CONTENIDO-->



<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Buscar Productos</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form class="input-group" style="width: 400px">
        <input type="search" class="form-control" placeholder="ISBN" aria-label="Search" />
        <button class="btn btn-outline-default" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
          <i class="bi bi-search"> Buscar</i>
        </button>
      </form>
      
  
  
      <div class="table-responsive">
      <!--  <form [formGroup]="Minotaventa"(submit)="onSubmit(Minotaventa.value)">-->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ISBN</th>
              <th scope="col">LIBRO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">PRECIO</th>
              <th scope="col">AGREGAR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let p of libros">           
              <td>{{p.isbn}}</td>
              <td>{{p.titulo}}</td>   
          <!--  <div formArrayName="detalle">-->
              <td ><input type="number" min="1" class="form-control" [(ngModel)]="p.canti"></td>    
              <td>{{p.precioUnitario}}</td>
              <td>
                <a class="btn btn-info" (click)="agregar(p)" [ngClass]="{selected:isSelected(p)}" >
                <i class="bi bi-cart-plus-fill"></i>
              </a>
              
              </td>
            </tr>
    
            </tbody>
        </table>
     <!--</form>-->
      </div>
  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
  </ng-template>
  <!--FIN MODAL-->
  