
<div id="contenedor">
    <!--CONTENIDO-->
    <nav class="navbar navbar-light ">
        <a  class="navbar-brand" >
            <i class="bi bi-journal-bookmark-fill"></i>
             RESERVAS
        </a>  
    </nav>

<form #notasForm="ngForm">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">NOMBRE</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="reserva.usuario.nombres" name="nombres"
          onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
          required #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && nombre.touched || nombre.invalid && notasForm.submitted">
            El Nombre Es Requerido
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">APELLIDO</label>
          <input type="text" class="form-control" id="apellido" [(ngModel)]="reserva.usuario.apellidos" name="apellidos"
          onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
          required #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && apellido.touched || apellido.invalid && notasForm.submitted">
            El Apellido Es Requerido
          </div>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">CÉDULA</label>
            <input type="text" class="form-control" id="cedula" [(ngModel)]="reserva.usuario.ci" name="ci"  maxlength="10"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            required #cedula="ngModel">
            <div class="alert alert-danger" *ngIf="cedula.invalid && cedula.touched || cedula.invalid && notasForm.submitted">
              La Cédula Es Requerida
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">TELÉFONO</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="reserva.usuario.telefono" name="telefono" maxlength="10"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            required #telefono="ngModel">
            <div class="alert alert-danger" *ngIf="telefono.invalid && telefono.touched || telefono.invalid && notasForm.submitted">
              El Teléfono Es Requerido
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">ABONO ($)</label>
            <input type="number" class="form-control" id="abono" [(ngModel)]="reserva.abono" name="abono"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0">
          </div>
    </form>

    <form class="input-group" style="width: 400px;margin-left:20px;">
      <mat-form-field appearance="fill">
        <mat-label  style="font-weight: bold;">Libros</mat-label>
        <input type="text"
               placeholder="Buscar"
               aria-label="Libros"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionLibro($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.titulo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="myControl.invalid && notasForm.submitted">
        La Reserva No puede Estar Vacia!
      </div>
      </form>


    <div class="table-responsive">
      <div class="alert alert-info my-4" *ngIf="reserva.detalleReservas.length == 0">
        No hay Libros Asignados para la reserva. Debe agregar al menos uno!
       </div>
        <table class="table" *ngIf="reserva.detalleReservas.length > 0">
          <thead>
            <tr>
              <th scope="col">CODIGO</th>
              <th scope="col">ISBN</th>
              <th scope="col">CANT.</th>
              <th scope="col">LIBRO</th>
              <th scope="col">PRECIO UNIT.</th>
              <th scope="col">SUBTOTAL</th>
              <th scope="col"></th>
            </tr>
          </thead>
         
          <tbody>
            
            <tr *ngFor="let p of reserva.detalleReservas;let i=index" >
              
              <th>{{i+1}}</th>                    
              <th>{{p.libro.isbn}}</th>                      
              <td  ><input  min="1" type="number" value="{{p.cantidad}}"  class="form-control col-sm-4" (change)="actualizarCantidad(p.libro.isbn,$event)"></td>
            
              <td>{{p.libro.titulo}}</td>
              <td >${{p.libro.precioUnitario}}</td>
             
              <td id="subtotal">${{p.calcularTotal().toFixed(2)}}</td>
            
              <td>
                <a class="btn btn-danger" 
                (click)="eleminarItemLibro(p.libro.isbn)">
                <i class="bi bi-trash-fill"></i>
              </a>
              </td>
            </tr>      
            <tr>
              <td colspan="5" class="text-end">TOTAL $</td>
              <td> ${{reserva.calcularGranTotal().toFixed(2)}}</td>
            </tr>
            </tbody>
        </table>
        <button id="guardar" class="btn btn-info" type="submit" (click)='create(notasForm)'  style="font-weight: bold;" >
          Reservar
        </button>
      </div>
    </form>     
</div> <!--FIN CONTENIDO-->

  