
<div id="contenedor">
  <nav class="navbar navbar-light ">
    <a  class="navbar-brand" >
      <i class="bi bi-plus-circle-fill"></i>
         NUEVA NOTA DE VENTA
    </a>             
</nav>
<form class="input-group" style="width: 400px">
  <mat-form-field appearance="fill">
    <mat-label>TÍTULO</mat-label>
    <input type="text"
           placeholder="Buscar"
           aria-label="Libros"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionLibro($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.titulo}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form >
 <div class="alert alert-info my-4" *ngIf="nota.detalles.length == 0">
  No hay Libros Asignados para la Nota De Venta. Debe agregar al menos uno!
 </div>
  <div class="table-responsive">
    <table class="table" *ngIf="nota.detalles.length > 0">
      <thead>
        <tr>
          <th scope="col">CÓDIGO</th>
          <th scope="col">ISBN</th>
          <th scope="col">CANT.</th>
          <th scope="col">LIBRO</th>
          <th scope="col">PRECIO UNIT.</th>
          <th scope="col">SUBTOTAL</th>
          <th scope="col"></th>
        </tr>
      </thead>
     
      <tbody >
        
        <tr *ngFor="let p of nota.detalles;let i=index" >
          
          <th >{{i+1}}</th>       
          <th >{{p.libro.isbn}}</th>       
          <td> <input min="1" type="number" value="{{p.cantidad}}" class="form-control col-sm-4" (change)="actualizarCantidad(p.libro.isbn,$event)"></td>        
          <td>{{p.libro.titulo}}</td>
          <td>${{p.libro.precioUnitario}}</td>      
          <td id="subtotal" >${{p.calcularTotal().toFixed(2)}}</td>        
          <td>
            <a class="btn btn-danger" 
            (click)="eleminarItemLibro(p.libro.isbn)">
            <i class="bi bi-trash-fill"></i>
          </a>
          </td>       
        </tr>
        <tr>
          <td colspan="5" class="text-end">TOTAL $</td>
          <td >${{nota.calcularGranTotal().toFixed(2)}}</td> 
        </tr>
   
        </tbody>
    </table>
    <a id="guardar" class="btn btn-info" type="submit" (click)="create()">
      Guardar
    </a>
  </div>
</form>
  </div>

       